.or-appearance-kobo-disclaimer {
    display: block !important;
    margin-top: 12px !important;
    margin-bottom: 6px !important;
    padding: 16px 40px !important;
    line-height: 1.5em !important;
    border: 2px solid #02a7f7 !important;
    border-radius: 5px !important;
    background-color: #e4f4fe !important;
    font-weight: strong !important;
}
